.sectionWrapper {
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

.container {
    height: 70svh;
    width: 100%;
    padding: 0 7% 7%;
}

.wrapper {
    height: 100%;
    max-width: 100%;
    background-color: var(--khaki-light);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: solid 2px blue; */

    overflow: hidden;
}

.formContainer {
    height: 100%;
    width: 45%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 2px black; */
}

.formWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;

    /* border: solid 2px green; */
}

.title {
    margin: 0;
    font-family: var(--font-regular);
    font-weight: 600;
    font-size: 2.8em;
}

.checkmarkContainer {
    display: flex;
    width: 100%;
}

.checkWrapper {
    display: flex;
    gap: .3em;
    flex: 1;
    align-items: center;
}

.checkWrapper p {
    margin: 0;
    font-family: var(--font-semi-bold);
    color: var(--money-green);
    font-size: 1em;
    white-space: nowrap;
}

.imgContainer {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.imgWrapper {
    width: 130%;
    height: auto;
    max-height: 92%;
}

.image {
    height: 100%;
    width: auto;
}

@media only screen and (min-width: 2561px)  {
    .container {
        max-width: 2560px;
        padding: 26px 180px 180px;;
    }
}

@media only screen and (max-width: 2561px)  {
    .imgContainer {
        position: relative;
    }
    .imgWrapper {
        position: absolute;
        bottom: -12px;
        right: -250px;
        width: 130%;
        height: auto;
        max-height: 92%;
    }
}

@media only screen and (max-width: 1920px) {
    .title {
        font-size: 1.8rem;
    }
    .checkWrapper p {
        font-size: .6em;
    }
}

@media only screen and (max-width: 1400px) {
    .imgContainer {
        width: 52%;
    }
    .formContainer {
        width: 48%;
    }
    .imgWrapper {
        bottom: -12px;
        right: -100px;
        width: auto;
        height: 90%;
        max-height: 92%;
    }
    .title {
        font-size: 2rem;
    }
    .formWrapper {
        gap: 1em;
    }
}

@media only screen and (max-width: 1100px) {
    .title {
        font-size: 1.6rem;
    }
    .formWrapper {
        gap: 1em;
    }
}


