.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  /* border: 2px solid red; */
  padding: 0 7%;
  height: 30svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.breakPointCardFive {
  display: none;
}

.card {
  /* border: solid 1px red; */
  color: var(--primary-font-color);
  height: 330px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.title h3 {
  margin: 0;
  color: var(--money-green);
  font-family: var(--font-regular);
  text-align: center;
  font-weight: 600;
  /* border: solid 1px green; */
}

.subTitle p {
  margin: 0;
  font-family: var(--font-light);
  text-align: center;
  /* border: solid 1px purple; */
}

.image {
  height: 75px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 1px yellow; */
}

.image img {
  height: 100%;
  width: auto;
}

.title {
  /* height: 120px; */
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* border: solid 1px green; */
  /* padding-bottom: 15px; */
}

.subTitle {
  /* height: 110px; */
  width: 100%;
  /* border: solid 1px blue; */
}

@media only screen and (min-width: 2561px) {
  .container {
    height: 48svh;
    max-width: 2560px;
    padding: 26px 180px;
  }
}

@media only screen and (max-width: 1921px) {
  .container {
    height: 40svh;
    gap: 5rem;
  }
  .image {
    height: 45px;
  }
  .title h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1600px) {
  .container {
    height: 50svh;
    gap: 4rem;
  }
  .image {
    height: 40px;
  }
  .title h3 {
    font-size: 1.3rem;
  }
  .subTitle p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1080px) {
  .container {
    height: 70svh;
    gap: 1rem;
    /* padding: 0 7%; */
  }
  .title h3 {
    font-size: 1.2rem;
  }
  .subTitle p {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    /* border: solid 1px red; */
    gap: 0;
    padding: 10% 0 0 0;
    height: 75vh;
    align-items: flex-start;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .breakPointCardFive {
    display: block;
  }
  .topBreakPoint {
    display: none;
  }
  .bottomBreakPoint {
    display: none;
  }
  .card {
    /* border: solid 1px blue; */
    height: 200px;
    width: 300px;
    padding: 0 5%;
    flex: 1;
    flex-basis: 50%;
  }
  .image {
    height: 40px;
    /* border: solid 1px red; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title h3 {
    font-size: 1.2rem;
    /* border: solid 1px green; */
  }
  .subTitle p {
    font-size: 0.8rem;
    /* border: solid 1px black; */
  }
}

@media only screen and (max-width: 768px) {
  .container {
    /* border: solid 1px red; */
    gap: 0;
    padding: 10% 7% 0 7%;
    height: 100vh;
  }
  .card {
    /* border: solid 1px blue; */
    height: 200px;
    width: 300px;
    padding: 0 3%;
    flex: 1;
    flex-basis: 50%;
    gap: 0.5rem;
  }
  .title h3 {
    font-size: 1rem;
    /* border: solid 1px green; */
  }
  .subTitle p {
    font-size: 0.8rem;
    /* border: solid 1px black; */
  }
}

@media only screen and (max-width: 400px) {
  .container {
    height: 110vh;
    padding-top: 15%;
  }
}
