.sectionWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

.container {
    /* border: 2px solid red; */
    padding: 0 7%;
    height: 30svh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.card {
    /* border: solid 1px red; */
    color: var(--primary-font-color);
    height: 330px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
}

.title h3 {
    margin: 0;
    color: var(--money-green);
    font-family: var(--font-regular);
    text-align: center;
    font-weight: 600;
    /* border: solid 1px green; */
}

.subTitle p {
    margin: 0;
    font-family: var(--font-light);
    text-align: center;
    /* border: solid 1px purple; */
}

.image {
    height: 75px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px yellow; */
}

.image img {
    height: 100%;
    width: auto;
}

.title {
    /* height: 120px; */
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* border: solid 1px green; */
    /* padding-bottom: 15px; */
}

.subTitle {
    /* height: 110px; */
    width: 100%;
    /* border: solid 1px blue; */
}

@media only screen and (min-width: 2561px)  {
    .container {
        height: 48svh;
        max-width: 2560px;
        padding: 26px 180px;
    }
}

@media only screen and (max-width: 1921px)  {
    .container {
        height: 53svh;
        gap: 12rem;
    }
}

@media only screen and (max-width: 1600px)  {
    .container {
        height: 60svh;
        gap: 10rem;
    }
}

@media only screen and (max-width: 1080px)  {
    .container {
        height: 70svh;
        gap: 1rem;
        /* padding: 0 7%; */
    }
    .title h3 {
        font-size: 1.2rem;
    }
    .subTitle p {
        font-size: .85rem;
    }
}

@media only screen and (max-width: 991px)  {
    .container {
        flex-direction: column;
        height: 85svh;
        align-items: center;
        gap: 0; 
        padding: 7% 7% 0 7%; 
    }
    .topBreakPoint {
        display: none;
    }
    .bottomBreakPoint {
        display: none;
    }
    .card {
        /* border: solid 1px red; */
        height: 200px;
        width: 80%;
        padding: 0%;
    }
    .image {
        height: 75px;
        /* border: solid 1px red; */
    }
    .title {
        height: 60px;
        /* border: solid 1px royalblue; */
    }
    .title h3 {
        font-size: 1.5rem;
        /* border: solid 1px green; */
    }
    .subTitle {
        height: 75px;
        /* border: solid 1px green; */
    }
    .subTitle p {
        font-size: .8rem;
        /* border: solid 1px black; */
    }
    
}

@media only screen and (max-width: 600px) {
    .container {
        height: 100svh;
    }
    .title h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        height: 100vh;
    }
}