.sectionWrapper {
  width: 100%;
  background: var(--money-green);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  height: 100svh;
  width: 100%;
  padding: 0 7%;
  background-color: var(--money-green);
  color: var(--secondary-font-color);
  display: flex;
  flex-direction: column;
}

#textContainer {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

#header {
  display: flex;
  justify-content: center;
  color: var(--khaki-light);
}

#header p {
  margin: 0;
}

#header p:hover {
  transition: 250ms;
  filter: brightness(110%);
}

#title {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  font-family: var(--font-regular);
}

#title h2 {
  text-align: center;
  margin: 0;
  font-size: 2.8rem;
}

#subTitle {
  display: flex;
  justify-content: center;
}

#subTitle p {
  text-align: center;
  margin: 0;
  font-size: 1rem;
}

#cardContainer {
  height: 23%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#cardWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
}

.card {
  width: 225px;
  height: 225px;
  text-decoration: none;
  color: var(--secondary-font-color);
  border: solid 1px var(--money-green);
  border-radius: 18px;
}

.card:hover {
  transition: 250ms;
  border: solid 1px var(--lime-green);
  border-radius: 18px;
  cursor: pointer;
  color: var(--secondary-font-color);
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
}

.cardContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cardContent:hover h3 {
  transition: 250ms;
  color: var(--lime-green);
}

.cardContent:hover p {
  transition: 250ms;
  filter: brightness(90%);
}

.cardTitle {
  margin: 0;
  text-align: center;
  font-family: var(--font-regular);
  font-size: 1.4rem;
}

.cardSubTitle {
  margin: 0;
  text-align: center;
  font-size: 0.85rem;
}

#imgContainer {
  height: 52%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

#imgWrapper {
  width: auto;
  height: 100%;
}

@media only screen and (min-width: 2561px) {
  .container {
    max-width: 2560px;
    padding: 0 180px;
  }
  .card {
    width: 300px;
    height: 300px;
  }
  .cardTitle {
    font-size: 1.8rem;
  }

  .cardSubTitle {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1921px) {
  #title h2 {
    font-size: 2.5rem;
  }
  #subTitle p {
    font-size: 0.9rem;
  }
  .card {
    width: 200px;
    height: 200px;
  }
  .cardTitle {
    font-size: 1.5rem;
  }
  .cardSubTitle {
    font-size: 0.8rem;
  }
  #textContainer {
    height: 30%;
  }
  #cardContainer {
    height: 22%;
  }
  #imgContainer {
    height: 48%;
  }
}

@media (max-width: 1920px) and (max-height: 1080px) {
  .container {
    height: 110svh;
  }
  #textContainer {
    justify-content: flex-end;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  #title h2 {
    font-size: 2.2rem;
  }
  #subTitle p {
    font-size: 0.85rem;
  }
  .card {
    width: 180px;
    height: 180px;
  }
  .cardTitle {
    font-size: 1.2rem;
  }
  .cardSubTitle {
    font-size: 0.8rem;
  }
  #textContainer {
    height: 35%;
  }
  #cardContainer {
    height: 25%;
  }
  #imgContainer {
    height: 40%;
  }
}

@media only screen and (max-width: 991px) {
  #active {
    border: solid 1px var(--lime-green);
    border-radius: 18px;
    cursor: pointer;
    color: var(--secondary-font-color);
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  #active h3 {
    color: var(--lime-green);
  }
  .container {
    height: 120svh;
    padding: 0;
  }
  #textContainer {
    padding: 0 7% 0.5rem 7%;
    height: 25%;
  }
  #cardContainer {
    height: 37%;
    padding: 0 7%;
  }
  #imgContainer {
    height: 38%;
    padding: 0 0 0 7%;
    align-items: flex-start;
  }
  #imgWrapper {
    width: 100%;
    height: auto;
  }
  #imgWrapper picture {
    width: 100%;
    height: 100%;
  }
  #imgWrapper picture img {
    height: 100%;
    width: 100% !important;
    object-fit: cover;
    object-position: 0% 0%;
  }
  #cardWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .card {
    width: 180px;
    height: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
  }
  #title h2 {
    font-size: 2rem;
  }
  #subTitle p {
    font-size: 0.8rem;
  }

  .cardTitle {
    font-size: 1.5rem;
  }
  .cardSubTitle {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    height: 125svh;
  }
  #title h2 {
    font-size: 2rem;
  }
  #subTitle p {
    font-size: 0.8rem;
  }
  .cardTitle {
    font-size: 1.2rem;
  }
  .cardSubTitle {
    font-size: 0.8rem;
  }
  #textContainer {
    height: 30%;
    padding-bottom: 0.1rem;
  }
  #cardContainer {
    height: 50%;
  }
  #imgContainer {
    height: 20%;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    height: 140svh;
  }
  #textContainer {
    height: 33%;
    padding-bottom: 0.1rem;
  }
  #cardContainer {
    height: 47%;
  }
  #imgContainer {
    height: 20%;
  }
}

@media only screen and (max-width: 391px) {
  .container {
    padding-top: 50px;
  }
  #textContainer {
    padding-top: 2rem;
  }
  #title h2 {
    font-size: 1.8rem;
  }
  #textContainer {
    height: 30%;
    padding-bottom: 0.1rem;
  }
  #cardContainer {
    height: 50%;
  }
  #imgContainer {
    height: 20%;
  }
}
