.sectionWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

.container {
    height: 100svh;
    width: 100%;
    padding: 0% 7%;
}

#titleContainer {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    font-family: var(--font-regular);
    font-size: 4rem;
    color: var(--money-green);
    margin: 0;
}

#subTitle {
    font-family: var(--font-regular);
    font-size: 1.2rem;
    margin: 0;
}

#linkContainer {
    height: 15%;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 50px;
}

#cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 50%;
}

.flexWrapper {
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: solid .15rem var(--khaki--light);
    border-radius: 18px;
    background-color: var(--khaki-light);
    height: 100%;
    transition: .3s;
}

.textContainer {
    height: 80%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.textContainer p {
    margin: 0;
}

.cardTitle {
    margin: 0;
    font-family: var(--font-bold);
    font-size: 2.5rem;
    color: var(--font-primanry-color);
    
}

.cardSubTitle {
    margin: 0;
    font-family: var(--font-regular);
    font-size: 1rem;
    color: var(--font-primanry-color);
}

.cardHeader {
    margin: 0;
    padding: 4px 12px;
    border-radius: 25px;
    font-size: .65rem;
    font-family: var(--font-bold);
    color: var(--money-green);
    background-color: lightgrey;
}

.buttonContainer {
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.card:hover {
    
    border: solid .15rem var(--khaki);
}

#cardOne {
    flex: 2;
}

#cardTwo {
    flex: 1;
}

#cardThree {
    flex: 1;
}

#cardFour {
    flex: 1;
}

#cardFive {
    flex: 2;
}

#cardOne:hover {
    /* background: red; */
}

#cardTwo:hover {
    flex: 4;
    /* background: red; */
}

#cardFour:hover {
    flex: 2;
    /* background: red; */
    
}

#cardFour:hover + #cardFive {
    /* background: blue; */
    flex: 1;
}

#cardThree:hover {
    flex: 2;
    /* background: red; */
}

#cardThree:hover ~ #cardFive {
    /* background: orange; */
    flex: 1;
}

#cardFive:hover {
    /* background: pink; */
    flex:2
}

/* .icon {
   
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
  } */


  @media only screen and (min-width: 2560px)  {
    .container {
        max-width: 2560px;
        padding: 26px 180px;;
    }
}