.container {
    display: flex;

   
    height: 100svh;
    width: 100%;
    background-color: var(--titanium-grey);
}

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

/* .container h1 {
    font-size: 10rem;
} */

#subContainerTwo {
    background: var(--money-green);
}