.sectionWrapper {
    width: 100svw;
    height: 100svh;
    background: var(--khaki-light);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    overflow: visible;
    position: relative;
}

#subContainerOne {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2rem;
    padding-left: 7%;
    padding-right: 7%;
    height: 70%;
    width: 50%;
}

#subContainerTwo {
    height: 70%;
    width: 50%;
    overflow: visible;
}

#imgWrapper {
    position: absolute;
    overflow: visible;
    width: 56%;
    height: auto;
    bottom: -12px;
    right: 0;
}

.image {
    height: auto;
    width: 100%;
}

#subContainerOne h1 {
    font-family: var(--font-regular);
    color: var(--money-green);
    font-size: 4.5rem;    
}

#subContainerOne h2 {
    font-family: var(--font-regular);
    font-size: 1.5rem;
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
}

@media only screen and (min-width: 3800px)  {
    #imgWrapper {
        width: 100%;
        right: -900px;
    }
    #subContainerOne {
        height: 60%;
    }
}

@media only screen and (min-width: 2560px)  {
    .container {
        width: 2560px;
        padding: 0 180px 0 180px;
    }
    #subContainerOne {
        padding: 0;
        padding-right: 7%;
    }
    #subContainerTwo {
        padding: 0;
    }
}

@media only screen and (max-width: 2559px)  {
    #imgWrapper {
        width: 1392px;
    }
}

@media only screen and (max-width: 2235px)  {
    #imgWrapper {
        width: 1392px;
        right: -200px;
    }
}

@media only screen and (max-width: 1980px)  {
    #imgWrapper {
        width: 1392px;
        right: -300px;
    }
}

@media only screen and (max-width: 1980px)  {
    #imgWrapper {
        width: 1392px;
        height: 80%;
        right: -400px;
    }
}
