.container {
    width: 50%;
    font-family: var(--font);
}

.row {
    padding-bottom: .9rem;
}

.button {
    border: none;
    background-color: var(--button-color);
    margin-top: 15px;
    width: 100%;
}

.button:hover {
    background-color: var(--primary);
    filter: brightness(90%);
    transition: 500ms;
}