.container {
    width: 50%;
    padding: 15px 30px;
    border-radius: 15px;
    /* background-color: var(--tertiary); */
}

.title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}

.formContainer {
    /* font-family: var(--font); */
    font-family: var(--font-sub);
}

.input {
    background-color: var(--secondary);
    border-radius: 5px 5px 0 0; 
    border: none;
    border-bottom: 2px solid var(--primary);
}

.input:focus {
    outline: none;
    box-shadow: none;
    color: var(--primary-font-color);
    background-color: var(--tertiary);
}

.row {
    padding-bottom: .9rem;
}

.button {
    border: none;
    background-color: var(--button-color);
    margin-top: 15px;
}

.button:hover {
    background-color: var(--primary);
    filter: brightness(90%);
    transition: 500ms;
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 5px;
        margin-bottom: 50px;
    }
    .row {
        flex-direction: column;
    }
    #nameRow {
        padding-bottom: .9rem;
    }
}

@media screen and (max-width: 575px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }
}