.button {
    border: solid 1px var(--cobalt-blue);
    border-radius: 4px;
    background-color: var(--cobalt-blue);
    width: fit-content;
    transition: transform 500ms;
}

.button:hover, .button:focus-visible {
    filter: brightness(110%);
    transform: translateY(-.12rem);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: transform 250ms;
    
}

.header {
    border: none;
    display: flex;
    flex-direction: column;
    font-family: var(--font-regular);
    background-color: var(--khaki-light);
}

.close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.logo {
    position: absolute;
    top: 1.2rem;
    left: 3rem;
    width: 30px;
    height: auto;
}

.title {
    font-weight: bold;
    font-family: var(--font-light);
    color: var(--money-green);
}

.subTitle {
    font-family: var(--font-light);
    padding: 1.2rem 1rem .8rem 1rem;
    margin-bottom: 0;
    text-align: center;
    font-size: .8rem;
}

.body {
    background-color: var(--khaki-light);
    border-radius: 5px;
}

#test {
    background-color: var(--khaki-light);
}

