.container {
    font-family: var(--font);
}

.row {
    padding-bottom: .9rem;
}

.button {
    border: solid 1px var(--cobalt-blue);
    background-color: var(--cobalt-blue);
    margin-top: 15px;
    width: 100%;
}

.button:hover {
    color: var(--cobalt-blue);
    background-color: var(--lime-green);
    filter: brightness(90%);
    transition: 500ms;
}


