.button {
    border: solid 1px grey;
    border-radius: 4px;
    color: var(--primary-font-color);
    background-color: transparent;
    width: fit-content;
    transition: transform 500ms;
}

.button:hover {
    filter: brightness(110%);
    transform: translateY(-0.3rem);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: transform 250ms;
}