.button {
    border: solid 1px grey;
    border-radius: 4px;
    color: var(--primary-font-color);
    background-color: transparent;
    width: fit-content;
}

.button:hover {
    border: solid 1px var(--cobalt-blue);
    color: var(--cobalt-blue);
    background-color: var(--lime-green);
    filter: brightness(90%);
    transition: 500ms;
}