.scroller {
    max-width: 100%;
}

.scroller[data-animated=true] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 15%, white 85%, transparent);
    mask: linear-gradient(90deg, transparent, white 15%, white 85%, transparent);
}

.scroller[data-animated=true] .scroller_inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 50s;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 10s;
}

.scroller_inner {
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-container {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.card {
    height: 240px;
    width: 280px;
    padding: 1rem;
    border: solid 1px var(--khaki-light);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}

.card:hover,
.card-img:hover,
.card-title:hover {
  transition: 250ms;
  filter: brightness(90%);
}

.card-img {
    height: 35px;
    width: auto;
  }

.card-title {
    font-size: 1em;
    font-weight: 600;
    color: var(--primary-font-color);
    margin: 0;
    text-align: center;
  }

@media only screen and (max-width: 991px) {
    .card {
      height: 140px;
      width: 140px;
    }
    .scroller[data-speed="slow"] {
        --_animation-duration: 30s;
    }
    .scroller[data-speed="fast"] {
        --_animation-duration: 10s;
    }
  }

 @media only screen and (max-width: 600px) {
    .card {
      gap: 0.4em;
    }
  }

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}
