.container {
  height: 60svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.textContainer {
  margin: 0 7%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textContainer h2 {
  margin: 0;
  font-family: var(--font-regular);
  color: var(--money-green);
  font-size: 2.8rem;
  text-align: center;
}

.textContainer p {
  margin: 1em 0 2.5em 0;
  font-family: var(--font-light);
  color: var(--primary-font-color);
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .container {
    height: 70svh;
  }
}

@media only screen and (max-width: 600px) {
  .textContainer h2 {
    font-size: 2.2rem;
  }
  .textContainer p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    padding: 3rem 0;
  }
  .textContainer h2 {
    font-size: 2rem;
  }
  .textContainer p {
    font-size: 0.85rem;
  }
}
