.container {
    height: 50svh;
    width: 100%;
    /* margin: 0 7%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.textContainer {
    width: 100%;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textContainer h2 {
    margin: 0;
    font-family: var(--font-regular);
    color: var(--money-green);
    font-size: 2.8rem;
}

.textContainer p {
    margin: 1em 0 2.5em 0;
    font-family: var(--font-light);
    color: var(--primary-font-color);
    font-size: 1.2rem;
}

.toolsContainer {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1em;
    
}

.card {
    flex: 1 1 0px;
    width: 0;
    border: solid 1px var(--khaki-light);
    border-radius: 10px;
    font-family: var(--font-regular);
    font-size: .8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    gap: .8em; 
}

/* @media only screen and (max-width: 991px)  {
    .card {
        display: none;
    }
} */
