.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.PrivacyContainer {
  height: auto;
  width: 100%;
  padding: 7% 7% 2% 7%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.PrivacyContainer h1 {
  font-family: var(--font-regular);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.PrivacyContainer h2 {
  font-family: var(--font-regular);
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.PrivacyContainer p {
  font-family: var(--font-light);
  margin-bottom: 10px;
}

.PrivacyContainer ul {
  font-family: var(--font-light);
  margin-bottom: 10px;
}

.PrivacyContainer li {
  font-family: var(--font-light);
  margin-bottom: 5px;
}

.PrivacyContainer em {
  font-family: var(--font-light);
  font-style: italic;
  color: #666;
}

@media only screen and (min-width: 2561px) {
  .PrivacyContainer {
    max-width: 2560px;
  }
}

@media only screen and (max-width: 991px) {
  .PrivacyContainer {
    padding-top: 75px;
  }
}
