.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 7%;
  font-family: var(--font-light);
}

.container h1 {
  font-family: var(--font-semi-bold);
  text-align: center;
}

.container h2 {
  font-family: var(--font-regular);
  text-align: center;
}

.container h3 {
  font-family: var(--font-regular);
  text-align: center;
}

.container h4 {
  padding-top: 8px;
  font-size: 20px;
}

.upperRoman {
  list-style-type: upper-roman;
}

.upperRoman > li::marker {
  font-size: 20px;
}

.upperAlpha {
  list-style-type: upper-alpha;
}

.lowerRoman {
  list-style-type: lower-roman;
}

.underline {
  text-decoration: underline;
}

.noticeAddressContainer {
  font-family: var(--font-light);
  margin: auto;
  width: 75%;
  text-decoration: underline;
}

.noticeAddress {
  font-family: var(--font-light);
  margin: auto;
  width: 50%;
  text-decoration: underline;
}

.table {
  margin: auto;
  width: 75%;
  border-spacing: 10px;
  border-collapse: collapse;
}

.table td,
.table th {
  border: 1px solid lightgrey;
  padding: 5px 5px 5px 2px;
}

.tableHeader {
  background-color: var(--money-green);
  color: var(--secondary-font-color);
  font-family: var(--font-regular);
}

@media only screen and (min-width: 2561px) {
  .container {
    max-width: 2560px;
    padding: 7% 180px;
  }
}

@media screen and (max-width: 572px) {
  .container {
    padding: 75px 15px;
  }
  .upperRoman {
    padding: 0 8%;
  }
  .tableSection {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 418px) {
  .tableSection {
    font-size: 0.5rem;
  }
  .upperRoman {
    padding-left: 12%;
  }
}
