@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Nunito&display=swap');

:root {
    --primary: #3A7492;
    --secondary: #1D1B1B;
    --tertiary: #2f2f35;
    --button-color: #3A7492;
    --primary-font-color: #ffff;
    --light-background-color: #ffff;
    --light-blue-background-color: #4f8fac;
    --font: 'Roboto', sans-serif;
    --font-sub: 'Nunito', sans-serif;
    --accent-background-color: #e0e8f5;
    --subtitle-color: #737b7d;
    --gradient-purple: #4C40F7;
    
  }

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.site-wrapper {
    width: 100%;
    height: 100%;
    font-family: var(--font);
    background: red;
    /* color: var(--primary-font-color);
    background: var(--secondary); */
   
}

/* @media screen and (max-width: 767px) {
    .site-wrapper {
        display: flex;
        justify-content: center;
    }
} */

.modal-open {
    background-color: var(--secondary);
}

.modal-content {
    background: url("../images/futureProofCard/fp-bg-left.svg"), url("../images/futureProofCard/fp-bg-right.svg");
    background-position: left bottom, right top;
    background-repeat: no-repeat;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--tertiary);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
