/* inner card for section */
.container {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  width: 55%;
  min-width: 1140px;
  height: 45%;
}

.imgContainer {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  color: var(--secondary-font-color);
  font-family: var(--font-semi-bold);
  font-size: 1.8rem;
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
}

.image {
  width: auto;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.cardContent {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.quoteIcon {
  height: 15%;
}

.quoteImage {
  height: auto;
  width: auto;
  transform: scaleX(-1);
}

.cardQuote {
  height: 63%;
  width: 82%;
  font-family: var(--font-semi-bold);
  font-size: 1.9rem;
  color: var(--cobalt-blue);
  margin: 0;
}

.cardQuote p {
  margin: 0;
}

.cardAuthor {
  height: 6%;
  font-family: var(--font-regular);
  font-size: 1.2rem;
  color: var(--primary-font-color);
  margin: 0;
}

.authorJobTitle {
  height: 6%;
  font-family: var(--font-semi-bold);
}

.buttonContainer {
  height: 10%;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.button {
  all: unset;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  border-radius: 5px;
}

#previousArrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media only screen and (max-width: 1336px) {
  .container {
    width: 100%;
    min-width: 100%;
  }
  .cardQuote {
    width: 100%;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1920px) {
  .cardQuote {
    font-size: 1.5rem;
  }
  .cardAuthor {
    font-size: 0.8rem;
  }
  .authorJobTitle {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    height: 85%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .imgContainer {
    width: 100%;
    height: 35%;
  }
  .cardContent {
    height: 65%;
    width: 100%;
  }
  .quoteIcon {
    height: 12%;
  }
  .cardQuote {
    height: 51%;
    width: 100%;
    font-size: 2rem;
  }
  .cardAuthor {
    height: 7%;
    font-size: 1.2rem;
    padding-top: 0.4em;
  }
  .authorJobTitle {
    height: 7%;
    font-size: 1.2rem;
  }
  .buttonContainer {
    height: 23%;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  .cardQuote {
    font-size: 1.3em;
  }
  .cardAuthor {
    font-size: 1rem;
  }
  .authorJobTitle {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 391px) {
  .imgContainer {
    height: 250px;
  }
  .buttonContainer {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }
  .cardAuthor {
    height: 30px;
  }
}
