/* inner card for section */
.container {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    width: 55%;
    min-width: 1140px;
    height: 45%;
    /* padding: 0 12%; */
    border: solid 2px blue;
}

.imgContainer {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    color: var(--secondary-font-color);
    font-family: var(--font-semi-bold);
    font-size: 1.8rem;
    object-fit: cover;
    max-height:100%; 
    max-width:100%;
    border: solid 2px black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.image {
    width: auto;
    height : 100%;
    max-height:100%; 
    max-width:100%;
    object-fit: cover;
}

.cardContent {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-content: space-between; */
    border: solid 2px red;
}

.quoteIcon {
    color: var(--cobalt-blue);
    font-size: 4.4rem;
    height: 15%;
    font-family: var(--font-regular);
    border: solid 2px black;
    margin: 0;
}

.quoteImage {
    transform: scaleX(-1);
}

.cardQuote {
    height: 63%;
    width: 82%;
    font-family: var(--font-semi-bold);
    font-size: 1.9rem;
    color: var(--cobalt-blue);
    margin: 0;
    border: solid 2px green;
}

.cardQuote p {
    margin: 0;
}

.cardAuthor {
    height: 6%;
    font-family: var(--font-regular);
    font-size: 1.2rem;
    color: var(--primary-font-color);
    margin: 0;
    border: solid 2px purple;
}

.authorJobTitle {
    height: 6%;
    font-family: var(--font-semi-bold);
    border: solid 2px yellow;
}

.buttonContainer {
    height: 10%;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    border: solid 2px black;
}

.button {
    all: unset;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    border-radius: 5px;
    border: solid 2px green;
    
}

#previousArrow {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@media only screen and (max-width: 1336px)  {
    .container {
        width: 100%;
        min-width: 100%;
    }
    .cardQuote {
        width: 100%;
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 1920px) {
    .cardQuote {
        font-size: 1.5rem;
    }
    .cardAuthor {
        font-size: .8rem;
    }
    .authorJobTitle {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 991px)  {
    .container {
        height: 100%;
        flex-direction: column;
    }
    .imgContainer {
        width: 100%;
        height: 60%;
    }
    .cardContent {
        height: 60%;
        width: 100%;
    }
    .cardQuote {
        height: 40%;
        width: 100%;
        font-size: 1.9rem;
    }
    .cardAuthor {
        font-size: 1.2rem;
    }
    .authorJobTitle {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 820px) {
    .imgContainer {
        height: 50%;
    }
    .cardQuote {
        height: 35%;
        font-size: 1.5rem;
    }
    .cardAuthor {
        font-size: .8rem;
    }
    .authorJobTitle {
        font-size: .8rem;
    }
    .buttonContainer {
        height: 7%;
    }
}


@media only screen and (max-width: 650px) {
    .imgContainer {
        height: 30%;
    }
    .quoteIcon {
        height: 10%;
    }
    .cardQuote {
        height: 30%;
        font-size: 1.2rem;
    }
    .cardAuthor {
        font-size: .8rem;
    }
    .authorJobTitle {
        font-size: .8rem;
    }

}

@media only screen and (max-width: 440px) {
    .quoteIcon {
        height: 8%;
    }
    .cardQuote {
        height: 35%;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 330px) {
    .imgContainer {
        /* height: 10%; */
    }
    .cardQuote {
        height: 38%;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 279px) {
    .cardQuote {
        
        font-size: .9rem;
    }
}
