.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  height: 100svh;
  width: 100%;
  padding: 0 7%;
  overflow: hidden;
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleContainer {
  margin: 0;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2.5rem;
}

.titleContainer h2 {
  margin: 0;
  font-family: var(--font-regular);
  font-size: 2.8rem;
  color: var(--money-green);
}

@media only screen and (min-width: 2561px) {
  .container {
    max-width: 2560px;
    padding: 26px 180px;
  }
  .titleContainer h2 {
    padding-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    height: 105svh;
  }
  .titleContainer {
    align-items: center;
    justify-content: center;
    height: 15%;
    padding-bottom: 0;
  }
  .titleContainer h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    height: 110svh;
  }
  .titleContainer h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    height: 120svh;
  }
}

@media only screen and (max-width: 391px) {
  .titleContainer {
    padding-top: 70px;
  }
}
