.sectionWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

.container {
    height: 15svh;
    width: 100%;
    padding: 4% 7% .25% 7%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 4rem;
    /* border: solid 2px red; */
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    text-decoration: none;
    color: lightgrey;
    transition: transform 500ms;
    
}

.link:hover {
    color: var(--grey);
    filter: brightness(110%);
    transform: translateY(-.12rem);
    
    transition: transform 250ms;
}

.imgContainer {
    height: 2.2rem;
    width: auto;
}

.imgContainer img {
    height: 100%;
    width: auto;
}

.linkTitle {
    margin: 0;
    text-decoration: none;
    font-family: var(--font-regular);
    font-size: 1rem;
    filter: brightness(62%);
}

/* .linkTitle:hover {
    color: var(--cobalt-blue);
} */






















@media only screen and (min-width: 2561px)  {
    .container {
        max-width: 2560px;
        padding: 26px 180px;;
    }
}