.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  height: 7svh;
  width: 100%;
  /* padding: 4% 7% 0.25% 7%; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4rem;
  /* border: solid 2px red; */
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: lightgrey;
  transition: transform 500ms;
  /* border: solid 2px green; */
}

.link:hover {
  /* color: var(--grey); */
  color: var(--lime-green);
  filter: brightness(110%);
  transform: translateY(-0.12rem);

  transition: transform 250ms;
}

.imgContainer {
  height: 2.2rem;
  width: auto;
}

.imgContainer img {
  height: 100%;
  width: auto;
}

.linkTitle {
  margin: 0;
  text-decoration: none;
  font-family: var(--font-regular);
  font-size: 1rem;
  filter: brightness(62%);
}

/* .linkTitle:hover {
    color: var(--cobalt-blue);
} */

@media only screen and (min-width: 2561px) {
  .container {
    max-width: 2560px;
    padding: 26px 180px;
  }
}

@media only screen and (max-width: 1921px) {
  .container {
    height: 7svh;
  }
}

@media only screen and (max-width: 1600px) {
  .container {
    height: 7svh;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    height: 11vh;
    gap: 0.8rem;
    padding: 0;
    align-items: flex-end;
    /* border: solid 2px red; */
    flex: 1;
    flex: row;
    flex-wrap: wrap;
  }
  .link {
    /* border: solid 2px blue; */
    flex: 1;
  }
  .imgContainer {
    height: 1.8rem;
  }
  .linkTitle {
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  .container {
    height: 10vh;
    gap: 0;
    padding: 2% 7% 0 7%;
  }
  .link {
    flex-basis: 50%;
    justify-content: flex-start;
  }
  .linkTitle {
    font-size: 0.85rem;
  }
}

@media (max-width: 400px) {
  .container {
    height: 10vh;
    padding-top: 0;
  }
  .imgContainer {
    height: 1.6rem;
  }
  .linkTitle {
    font-size: 0.8rem;
  }
}
