.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  height: 95svh;
  width: 100%;
  padding: 0 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

#textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#title {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: var(--font-regular);
}

#title h2 {
  color: var(--money-green);
  text-align: center;
  margin: 0;
  font-size: 2.8rem;
}

#subTitle {
  display: flex;
  justify-content: center;
}

#subTitle p {
  font-family: var(--font-light);
  text-align: center;
  margin: 0;
  font-size: 1rem;
}

#cardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

#cardWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
}

.card {
  width: 350px;
  height: 350px;
  text-decoration: none;
  color: var(--money-green);
  border: solid 2px var(--grey);
  border-radius: 18px;
  transition: transform 500ms;
}

.card:hover {
  transition: 250ms;
  border: solid 1px var(--cobalt-blue);
  border-radius: 18px;
  cursor: pointer;
  color: var(--money-green);
  filter: brightness(110%);
  transform: translateY(-0.12rem);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: transform 250ms;
}

.cardContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cardContent:hover h3 {
  transition: 250ms;
  color: var(--cobalt-blue);
}

.cardContent:hover p {
  transition: 250ms;
  filter: brightness(90%);
}

.cardTitle {
  margin: 0;
  text-align: center;
  font-family: var(--font-regular);
  font-weight: 600;
  font-size: 1.4rem;
}

.cardSubTitle {
  margin: 0;
  text-align: center;
  font-size: 0.85rem;
  font-family: var(--font-regular);
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: var(--secondary-font-color);
  background-color: var(--cobalt-blue);
  border-color: var(--cobalt-blue);
}

.iconContainer {
  height: auto;
  width: auto;
}

.icon {
  height: 100%;
  width: auto;
}

@media only screen and (min-width: 2561px) {
  .container {
    max-width: 2560px;
    padding: 0 180px;
  }
  #title h2 {
    font-size: 3.2rem;
  }
  #subTitle p {
    font-size: 1.2rem;
  }
  .card {
    width: 375px;
    height: 375px;
  }
  .cardTitle {
    font-size: 1.8rem;
  }

  .cardSubTitle {
    font-size: 1rem;
  }
  .buttonContainer button {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1921px) {
  .container {
    gap: 2.5rem;
  }
  #title h2 {
    font-size: 2.5rem;
  }
  #subTitle p {
    font-size: 0.9rem;
  }
  .card {
    width: 350px;
    height: 350px;
  }
  .cardTitle {
    font-size: 1.5rem;
  }
  .cardSubTitle {
    font-size: 0.8rem;
  }
  #textContainer {
    gap: 0.8rem;
  }
}

@media only screen and (max-width: 991px) {
  .breakPoint {
    display: none;
  }
  .container {
    height: 100vh;
    padding: 0;
    gap: 1.2rem;
  }
  #textContainer {
    padding: 0 7% 0.5rem 7%;
  }
  #cardContainer {
    height: 400px;

    padding: 0 7%;
  }
  #cardWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .card {
    width: 180px;
    height: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding: 0.25rem;
  }
  .cardContent {
    gap: 0.5rem;
  }
  .iconContainer {
    height: 65px;
  }
  #title h2 {
    font-size: 2rem;
  }
  #subTitle p {
    font-size: 0.8rem;
  }

  .cardTitle {
    font-size: 0.85rem;
  }
  .cardSubTitle {
    font-size: 0.8rem;
  }
}
