.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  padding: 0;
  height: 35svh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 15rem;
}

.card {
  color: var(--primary-font-color);
  height: 330px;
  width: 250px;
}

.title h3 {
  margin: 0;
  color: var(--money-green);
  font-family: var(--font-regular);
  text-align: center;
  font-weight: 600;
}

.subTitle p {
  margin: 0;
  font-family: var(--font-light);
  text-align: center;
}

.image {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  height: 100%;
  width: auto;
}

.title {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 15px;
}

.subTitle {
  height: 110px;
  width: 100%;
}

@media only screen and (min-width: 2561px) {
  .container {
    height: 48svh;
    max-width: 2560px;
    padding: 26px 180px;
  }
}

@media only screen and (max-width: 1921px) {
  .container {
    height: 53svh;
    gap: 12rem;
  }
}

@media only screen and (max-width: 1600px) {
  .container {
    height: 60svh;
    gap: 10rem;
  }
}

@media only screen and (max-width: 1080px) {
  .container {
    height: 70svh;
    gap: 1rem;
  }
  .title h3 {
    font-size: 1.2rem;
  }
  .subTitle p {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    flex-direction: column;
    height: 85svh;
    align-items: center;
    gap: 0;
    padding: 7% 7% 0 7%;
  }
  .topBreakPoint {
    display: none;
  }
  .bottomBreakPoint {
    display: none;
  }
  .card {
    height: 200px;
    width: 80%;
    padding: 0%;
  }
  .image {
    height: 75px;
  }
  .title {
    height: 60px;
  }
  .title h3 {
    font-size: 1.5rem;
  }
  .subTitle {
    height: 75px;
  }
  .subTitle p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    height: 100svh;
  }
  .title h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    height: 100vh;
  }
}
