.sectionWrapper {
    width: 100%;
    height: 100svh;
    background: var(--khaki-light);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 14%;
}

#subContainerOne {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 48%;
    width: 100%;
    padding-bottom: 4rem;
}

#subContainerOne h1 {
    margin: 0;
    padding-bottom: 1.2rem;
    font-family: var(--font-regular);
    font-weight: 600;
    color: var(--primary-font-color);
    font-size: 4rem;
    text-align: center;
}

#subContainerOne h2 {
    margin: 0;
    font-family: var(--font-light);
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
}

/* adjust size of hero image */
.imgWrapper {
    width: 100%;
    height: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.imgContainer {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer picture {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer picture img {
    height: 100%;
    width: 100% !important;
    object-fit: cover;
    object-position: 0% 0%;
}

@media only screen and (min-width: 2561px)  {
    .container {
        max-width: 2560px;
        padding: 0 180px;
    }
    #subContainerOne {
        height: 45%;
        padding-bottom: 5rem;
    }
    .imgWrapper {
        height: 55%;
    }
}

@media only screen and (max-width: 1921px)  {
    #subContainerOne {
        padding-bottom: 3rem;
        gap: .5rem;
    }
    #subContainerOne h1 {
        font-size: 3.5rem;
        padding-bottom: .5rem;
    }
    #subContainerOne h2 {
        font-size: 1.1rem;
    }   
}

@media only screen and (max-width: 1600px) {
    #subContainerOne {
        height: 50%;
    }
    .imgWrapper {
        height: 50%;
    }
    .breakPointTop {
        display: none;
    }
}

@media only screen and (max-width: 1080px)  {
    #subContainerOne h1 {
        font-size: 2.5rem;    
    }
    #subContainerOne h2 {
        font-size: .8rem;
    }
    .breakPoint {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        padding: 0 7%;
    }
    #subContainerOne {
        height: 40%;
        gap: 1.2rem;
    }
    #subContainerOne h1 {
        color: var(--money-green);   
    }
    .imgWrapper {
        height: 60%;
    }    
    .imgContainer {
        width:100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .imgContainer picture {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .imgContainer picture img {
        height: 100% !important;
        width: auto;
        object-fit: fill;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 0;
    }
    #subContainerOne {
        height: 45%;
        gap: .85rem;
        padding: 0 7%;
    }
    .imgWrapper {
        height: 55%;
        padding: 10% 0 0 7%;
    }
    #subContainerOne h1 {
        font-size: 2rem;    
    }
    #subContainerOne h2 {
        font-size: .85rem;
    }
    .imgContainer picture img {
        height: 100% !important;
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 400px) {
    .sectionWrapper {
        height: 100vh;
    }
}
