.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: var(--khaki-light);
}

.container {
  height: auto;
  width: 100%;
  padding: 150px 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1.2rem;
}

.title {
  text-align: center;
  margin: 0;
  font-family: var(--font-regular);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary-font-color);
  margin-bottom: 0.5rem;
}

.numberContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count {
  font-family: var(--font-regular);
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--money-green);
  margin: 0;
}

.text {
  font-family: var(--font-regular);
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

@media only screen and (min-width: 2561px) {
  .container {
    max-width: 2560px;
    padding: 26px 180px;
    padding-top: 5%;
  }
}

@media only screen and (max-width: 1600px) {
  .numberContainer {
    gap: 10rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .count {
    font-size: 2.2rem;
  }
  .text {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    height: 45svh;
    justify-content: center;
  }
  .title {
    font-size: 1.4rem;
  }
  .bottomBreakPoint {
    display: none;
  }
  .numberContainer {
    font-size: 0.85rem;
    justify-content: center;
    gap: 2rem;
  }
  .item {
    height: 120px;
    width: 180px;
    justify-content: flex-start;
  }
  .count {
    font-size: 1.8rem;
  }
  .text {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    gap: 0.1rem;
  }
  .title {
    font-size: 1.1rem;
  }
  .breakPoint {
    display: none;
  }
  .numberContainer {
    width: 100%;
    gap: 0.8rem;
  }
  .item {
    height: 110px;
    width: 150px;
  }
  .count {
    font-size: 1.5rem;
  }
  .text {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    height: 42vh;
    gap: 0.5rem;
  }
  .title {
    font-size: 1.1rem;
  }
  .count {
    font-size: 1.3rem;
  }
}
