.sectionWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

.container {
    height: 42dvh;
    width: 100%;
    padding: 10% 7%  7% 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    font-family: var(--font-regular);
    font-weight: 600;
    font-size: 3.2rem;
}

.subTitle {
    margin: 0;
    margin-top: 1.8rem;
    font-family: var(--font-light);
    font-weight: 600;
    font-size: 1.2rem;
}

.animatedContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    height: 1rem;
    width: 440px;
    border-top: solid 3px green;
}

.animatedText {
    margin: 0;
    font-size: 3.2rem;
    font-family: var(--font-regular);
    font-weight: 600;
    min-width: 280px;    
}

.animatedText span {
    margin: 0;
    position: relative;
}

.animatedText span::before {
    content: 'higher profits.';
    color: green;
    animation: words 20s infinite;
}

.animatedText span::after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid green;
    right: -8px;
    animation: cursor .6s infinite,typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ffffff;
    }
}

@keyframes words {
    0%,20%{
        content: 'higher profits.';
    }
    21%,40%{
        content: 'faster closings.';
    }
    41%,60%{
        content: 'higher volume.';
    }
    61%,80%{
        content: 'smarter insights.';
    }
    81%,100%{
        content: 'greater scalability.';
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }

    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

@media only screen and (min-width: 2561px)  {
    .container {
        max-width: 2560px;
        padding: 10% 180px 7% 180px;
    }
}

@media only screen and (max-width: 1921px) {
    .container {
        /* border: solid 2px red; */
        height: 50dvh;
    }
}

@media only screen and (max-width: 1600px) {
    .container {
        height: 52dvh;
        padding: 12% 7% 5% 7%;
    }
    .title {
        font-size: 2.2rem;
    }
    .subTitle {
        font-size: 1rem;
    }
    .animatedText {
        font-size: 2.2rem;
    }
    .animatedText span::after {
        height: 110%;
    }
    .border {
        height: .8rem;
        border-top: solid 2px green;
    }
    .animatedContainer {
        padding-bottom: .2rem;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        height: 42dvh;
    }
    .border {
        width: 320px;
    }
    .title {
        font-size: 2rem;
    }
    .animatedText {
        font-size: 2rem;
    }
    .subTitle {
        font-size: .85rem;
        margin-top: 1rem;
    }
    .animatedContainer {
        padding-top: .5rem;
        padding-bottom: .2rem;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding-bottom: 0%;
        height: 40dvh;
    }
    .border {
        width: 170px;
    }
    .title {
        font-size: 1.2rem;
        text-align: center;
    }
    .animatedContainer {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .animatedText {
        font-size: 1.2rem;
        text-align: center;
    }
    .subTitle {
        font-size: .80rem;
        margin-top: .5rem;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        padding-bottom: 0%;
        height: 40vh;
    }
    .border {
        width: 160px;
    }
    .title {
        font-size: 1.1rem;
        text-align: center;
    }
    .animatedContainer {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .animatedText {
        font-size: 1.1rem;
        text-align: center;
    }
    .subTitle {
        font-size: .75rem;
        margin-top: .1rem;
        text-align: center;
    }
}