.sectionWrapper {
    width: 100%;
    background: var(--money-green);
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

.container {
    height: 100svh;
    width: 100%;
    padding: 0 7%;
    background-color: var(--money-green);
    color: var(--secondary-font-color);
    display: flex;
    flex-direction: column;
}

#textContainer {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2rem;
}

#header {
    display: flex;
    justify-content: center;
    color: var(--lime-green);
}

#header p {
    margin: 0;
}

#header p:hover {
    transition: 250ms;
    filter: brightness(110%);
}

#title {
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    font-family: var(--font-regular);
}

#title h2 {
    text-align: center;
    margin: 0;
    font-size: 2.8rem;
}

#subTitle {
    display: flex;
    justify-content: center;
}

#subTitle p {
    text-align: center;
    margin: 0;
    font-size: 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


#imgContainer {
    height: 52%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

#imgWrapper {
    width: auto;
    height: 100%;
}

@media only screen and (min-width: 2561px)  {
    .container {
        max-width: 2560px;
        padding: 0 180px;;
    }
}

@media only screen and (max-width: 1921px) {
    #title h2 {
        font-size: 2.5rem;
    }
    #subTitle p {
        font-size: .9rem;
    }
    #textContainer {
        height: 30%;
    }
    #imgContainer {
        height: 48%;
    }
}

@media (max-width: 1920px) and (max-height: 1080px) {
    .container {
        height: 110svh;
    }
    #textContainer {
        justify-content: flex-end;
        padding-bottom: 2rem;
    }
  }

@media only screen and (max-width: 1200px) {
    #title h2 {
        font-size: 2.2rem;
    }
    #subTitle p {
        font-size: .85rem;
    }
    #imgContainer {
        height: 40%;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        height: 120svh;
        padding: 0;
    }
    #textContainer {
        padding: 0 7% .5rem 7%;
        height: 25%;
    }
    #imgContainer {
        height: 38%;
        padding: 0 0 0 7%;
        align-items: flex-start;
    }
    #imgWrapper {
        width: 100%;
        height: auto;
    }
    #imgWrapper picture {
        width: 100%;
        height: 100%;
    }
    #imgWrapper picture img {
        height: 100%;
        width: 100% !important;
        object-fit: cover;
        object-position: 0% 0%;
    }
    #title h2 {
        font-size: 2rem;
    }
    #subTitle p {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        height: 125svh;
    }
    #title h2 {
        font-size: 2rem;
    }
    #subTitle p {
        font-size: .8rem;
    }
    #textContainer {
        height: 30%;
        padding-bottom: .1rem;
    }
    #imgContainer {
        height: 20%;
    }    
}

@media only screen and (max-width: 400px) {
    .container {
        height: 140svh;
    }
    #textContainer {
        height: 33%;
        padding-bottom: .1rem;
    }
    #imgContainer {
        height: 20%;
    }   
    
}

@media only screen and (max-width: 391px) {
    .container {
        padding-top: 50px;
    }
    #textContainer {
        padding-top: 2rem;
    }
    #title h2 {
        font-size: 1.8rem;
    }
    #textContainer {
        height: 30%;
        padding-bottom: .1rem;
    }
    #imgContainer {
        height: 20%;
    }  
}