.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  padding: 150px 7% 75px 7%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
}

.textContainer {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.mainTitle {
  text-align: center;
  margin: 0;
  font-family: var(--font-regular);
  font-size: 3.4rem;
  font-weight: 600;
  color: var(--money-green);
  margin-bottom: 0.5rem;
}

.mainSubTitle {
  text-align: center;
  width: 100%;
  margin: 0;
  font-family: var(--font-regular);
  font-size: 1.2rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
}

.card {
  color: var(--primary-font-color);
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.title h3 {
  margin: 0;
  color: var(--money-green);
  font-family: var(--font-regular);
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
}

.subTitle p {
  margin: 0;
  font-family: var(--font-light);
  text-align: center;
}

.image {
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  height: 100%;
  width: auto;
}

.title {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.subTitle {
  width: 100%;
}

@media only screen and (min-width: 2561px) {
  .container {
    max-width: 2560px;
  }
}

@media only screen and (max-width: 1921px) {
  .breakPoint {
    display: none;
  }
  .container {
    gap: 3rem;
    justify-content: center;
  }
  .textContainer {
    gap: 0rem;
  }
  .mainTitle {
    font-size: 2.8rem;
  }
  .mainSubTitle {
    font-size: 1.1rem;
  }
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
    column-gap: 6rem;
  }
  .card {
    height: 250px;
    width: 400px;
    gap: 1.2rem;
  }
  .image {
    height: 45px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    padding: 12% 7%;
    height: auto;
  }
  .textContainer {
    width: 100%;
  }
  .mainTitle {
    font-size: 2.2rem;
  }
  .mainSubTitle {
    font-size: 0.85rem;
  }
  .topBreakPoint {
    display: none;
  }
  .bottomBreakPoint {
    display: none;
  }
  .cardContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 1.5rem;
  }
  .card {
    gap: 1rem;
    height: auto;
    width: auto;
  }
  .image {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title h3 {
    font-size: 1.2rem;
  }
  .subTitle {
    padding: 0 10%;
  }
  .subTitle p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .mainTitle {
    font-size: 1.5rem;
  }
  .mainSubTitle {
    font-size: 0.8rem;
  }
  .subTitle {
    padding: 0 2%;
  }
}
