.button:hover {
    background-color: var(--primary);
    filter: brightness(90%);
    transition: 500ms;
}

.button {
    border: none;
    background-color: var(--button-color);
    width: fit-content;
}

.header {
    border: none;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
}

.close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.logo {
    position: absolute;
    top: 1.2rem;
    left: 1.5rem;
    width: 32px;
    height: auto;
}

.title {
    font-weight: bold;
    font-family: var(--font);
}

.subTitle {
    font-family: var(--font-sub);
    padding: 1.2rem 1rem .8rem 1rem;
    margin-bottom: 0;
    text-align: center;
    font-size: .8rem;
}

