.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding-bottom: 25px;
}

.group {
    width: 66%;
    display: flex;
    margin-top: 15px;
}

.titleContainer {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subGroup {
    width: 50%;
}

.desc {
    font-size: 15px;
}

.desc > span {
    color: var(--primary);
}

.contactContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contactInfo {
    display: flex;
    justify-content: flex-end;
    
}

.item {
    display: flex;
    gap: 10px;
}

.detail {
    font-size: 15px;
}

.socialsPositionContainer {
    display: flex;
    justify-content: flex-end;
}

.socialsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialsHeader {
    padding-left: 8px;
}

.socials {
    display: flex;
    gap: 20px;
}

.socials img {
    width: 32px;
    height: auto;
}

@media screen and (max-width: 991px) {
    .footer {
        flex-direction: column;
    }
    #contactInfo {
        display: flex;
        justify-content: flex-start;
    }

    .contactPositionContianer {
        display: flex;
        justify-content: flex-start;
    }
    .titleContainer {
        width: 100%;
    }
    .group {
        width: 100%;
        justify-content: space-between;
    }
    #contactInfo {
        padding-left: 0;
    }

    .socialsContainer{
        margin-right: 15px;
    }

    .socialsHeader {
        padding-left: 0;
    }
    .socials {
        position: relative;
        right: 10px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        align-items: center;
    }
    .socialsContainer{
        margin-right: 0px;
    }
}

@media screen and (max-width: 460px) {
    .group {
        flex-direction: column;
    }
    .socialsPositionContainer {
        margin-top: 20px;
        justify-content: flex-start;
    }
}

