.container {
    margin: 100px 0px 50px 0px;
    display: flex;
    gap: 20px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
}

.header {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.header > span {
    color: var(--primary);
}

.button {
    border: none;
    background-color: var(--primary);
    width: fit-content;
}

.button:hover {
    background-color: var(--primary);
    filter: brightness(90%);
}

.imgContainer {
    width: 50%;
}

.imgContainer > img {
    width: 100%;
    height: auto;
    max-height: 500px;
}

@media screen and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .textContainer {
        width: 100%;
    }
    .imgContainer {
        width: 100%;
    }
    .buttonContainer {
        display: flex;
        justify-content: center;
    }
}