.container {
    margin: 100px 0px 50px 0px;
    display: flex;
    gap: 20px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 60%;
}

.header {
    color: var(--primary-font-color);
    font-size: 40px;
    font-weight: bold;
}

.header > span {
    color: var(--primary);
}

.imgContainer {
    width: 40%;
}

.imgContainer > img {
    width: 100%;
    height: auto;
    max-height: 500px;
}

@media screen and (max-width: 991px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .textContainer {
        width: 100%;
    }
    .imgContainer {
        width: 100%;
    }
    .buttonContainer {
        display: flex;
        justify-content: center;
    }
}