.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 60%;
}

.header {
    color: var(--primary-font-color);
    font-size: 40px;
    font-weight: bold;
}

.header > span {
    color: var(--primary);
}

.buttonContainer {
    width: 100%;
    display: flex;
}

.imgContainer {
    width: 40%;
}

.image {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 991px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .textContainer {
        width: 100%;
    }
    
    .imgContainer {
        width:100%;
        display: flex;
    }
    .imgSide {
        width: 15%;
    }
    .image {
        width: 70%;
        height: auto;
    }
    .buttonContainer {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .imgSide {
        width: 0;
    }
    .image {
        width: 100%;
        height: auto;
    }
}