.siteContainer {
    margin: 0 3% 0% 3%;
}

@media screen and (max-width: 991px) {
    .siteContainer {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .htmlContainer{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .siteContainer {
        padding: 0;
        width: 100%;
    }
}