.navBar {
    background-color: var(--secondary);
    position: sticky;
    top: -15px;
    z-index: 1
}

.navBar a {
    color: var(--primary-font-color);
    text-decoration: none;
}

.navBar a:hover {
    color: var(--primary);
    transition: 500ms;
}

.navBar a:active {
    color: var(--primary);
}

#hamburger {
    border: none;
    padding: 4px 0px;
}

.close {  
    position: absolute;
    top: 42px;
    right: 1.5rem;
}

.pageLink {
    padding: 8px 24px 8px 0px;
}

.dropdownMenu {
    padding-right: 18px;
}

.dropdownMenu > div {
    padding: 0;
    border-style: solid;
    border-color: var(--primary);
    border-width: 2px;
    background-color: var(--secondary); 
    border-radius: 20px;
}

.dropDownProductContainer > div > a:hover {
    background-color: var(--secondary);
    transition: 500ms;
}

.productSubContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.productSubContainer > a:hover {
    border-radius: 20px;
    transition: 500ms;
}

.productItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 10px;
}

.productItem:hover {
    border-radius: 20px;
    background-color: var(--tertiary);
    transition: 500ms;
}

.productIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productTextDiv {
    width: 250px;
}

.productTitle {
    font-weight: bold;
}

.productDescription {
    font-size: 12px;
}

.offCanvasBody {
    font-family: var(--font);
    color: var(--primary-font-color);
    background-color: var(--secondary);
}

.offCanvasBody a {
    text-decoration: none;
    color: var(--primary-font-color)
}

@media screen and (max-width: 991px) {
    .productSubContainer {
        flex-direction: column;
    }
    .dropdownMenu > div {
        border-style: none;
    }
}

