.container {
    display: flex;
    gap: 20px;
}

.imgContainer {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer > img {
    width: 100%;
    height: auto;
}

.textContainer {
    width: 60%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: bold;
}

.title span {
    color: var(--primary);
}


.bulletConatiner {
    display: flex;
    flex-direction: column;
}

.bullet {
    height: 33%;
    display: flex;
    margin-bottom: 8px;
}

.text {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column-reverse;
    }
    .imgContainer {
        width: 100%;
    }
    .textContainer {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }
}