.container {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    gap: 20px;
}

.textContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    padding-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
}

.subHeader {
    font-size: 16px;
}

.testimonyContainer {
    width: 60%;
    gap: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left, .right {
    cursor: pointer;
}

.testimonials {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 510px;
    gap: 20px; 
    transition: transform 1s;
    padding-bottom: 25px;
}

@media screen and (max-width: 1199px) {
    .testimonials {
        padding-bottom: 5px;  
        height: 375px;  
    }
    .container {
        flex-direction: column;    
    }
    .textContainer {
        width: 100%;
    }
    .testimonyContainer {
        width: 100%;
    } 
}

@media screen and (max-width: 502px) {
    .testimonials {
        flex-direction: column;
        height: 450px; 
    }
    
}

@media screen and (max-width: 431px) {
    .testimonials {
        flex-direction: column;
        height: 700px; 
    }
    
}

@media screen and (max-width: 361x) {
    .testimonials {
        flex-direction: column;
        height: 500px; 
    }
    
}