.review {
    background-color: var(--tertiary);
    height: 100%;
    width: 50%;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    gap: 10px;
}

.header {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 10px;
    height: 25%;
}

.image {
    border-radius: 50px;
}

.image > img {
    border-radius: 50px;
    width: 100%;
    height: auto;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    text-decoration: none;
    color: var(--primary-font-color);
    font-weight: 500;
    font-size: 15px;
}

.name:hover {
    color: var(--primary);
}

.position {
    font-size: 15px;
}

.divider {
    height: .5%;
    background-color: var(--light-background-color);
}

.body {
    height: 74.5%;
    padding: 25px 10px;
    font-size:.92rem;
    max-height: 100%;
}

.quote {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

@media screen and (max-width: 1399px) {
    .name {
        font-size: .82rem;    
    }
    .position {
        font-size: .82rem;
    }
    .body {
        font-size: .82rem;
    }
}

@media screen and (max-width: 1199px) {
    .name {
        font-size: .85rem;    
    }
    .position {
        font-size: .85rem;
    }
    .body {
        font-size: .85rem;
    }
}

@media screen and (max-width: 991px) {
    .name {
        font-size: .7rem;    
    }
    .position {
        font-size: .7rem;
    }
    .body {
        font-size: .72rem;
    }
    .review {
        height: 85%;
    }
}

@media screen and (max-width: 767px) {
    .name {
        font-size: .6rem;    
    }
    .position {
        font-size: .6rem;
    }
    .body {
        font-size: .57rem;
    }
    .review {
        height: 80%;
    }
}

@media screen and (max-width: 575px) {
    .header {
        height: 28%;
    }
    .body {
        height: 71.5%;
    }
    
    .review {
        height: 80%;    
    }
    
}

@media screen and (max-width: 543px) {
    .name {
        font-size: .57rem;    
    }
    .position {
        font-size: .55rem;
    }
    .body {
        font-size: .55rem;
    }
}

@media screen and (max-width: 502px) {
    .review {
        width: 100%;
        height: 50%;
    }
    .header {
        height: 30%;
    }
    .body {
        height: 69.5%;
    }
    .name {
        font-size: .9rem;    
    }
    .position {
        font-size: .9rem;
    }
    .body {
        font-size: .8rem;
    }
}

@media screen and (max-width: 431px) {
    .header {
        height: 28%;
    }
    .body {
        height: 71.5%;
    }
}

@media screen and (max-width: 395px) {
    .name {
        font-size: .8rem;    
    }
    .position {
        font-size: .8rem;
    }
    .body {
        font-size: .7rem;
    }
}

@media screen and (max-width: 367px) {
    .position {
        font-size: .7rem;
    }
}

@media screen and (max-width: 328px) {
    .body {
        font-size: .65rem; 
    }
}

@media screen and (max-width: 263px) {
    .body {
        font-size: .6rem; 
    }
}