.sectionWrapper {
  width: 100%;
  background: var(--money-green);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  height: 80svh;
  width: 100%;
  padding: 0 7%;
  background-color: var(--money-green);
  color: var(--secondary-font-color);
  display: flex;
  flex-direction: column;
}

#textContainer {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

#header {
  display: flex;
  justify-content: center;
  color: var(--lime-green);
}

#header p {
  margin: 0;
  font-family: var(--font-light);
}

#header p:hover {
  transition: 250ms;
  filter: brightness(110%);
}

#title {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  font-family: var(--font-regular);
}

#title h2 {
  text-align: center;
  margin: 0;
  font-size: 2.8rem;
}

#subTitle {
  display: flex;
  justify-content: center;
}

#subTitle p {
  font-family: var(--font-light);
  text-align: center;
  margin: 0;
  font-size: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-light);
}

#imgContainer {
  height: 65%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

#imgWrapper {
  width: auto;
  height: 100%;
}

@media only screen and (min-width: 2561px) {
  .container {
    max-width: 2560px;
    padding: 0 180px;
  }
}

@media only screen and (max-width: 1921px) {
  .container {
    height: 85svh;
  }
  #header p {
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }
  #title h2 {
    font-size: 2.2rem;
  }
  #subTitle p {
    font-size: 1.1rem;
  }
  #textContainer {
    height: 45%;
  }
  #imgContainer {
    height: 55%;
  }
}

@media only screen and (max-width: 1500px) {
  .container {
    height: 100svh;
  }
}

@media only screen and (max-width: 1080px) {
  #header p {
    font-size: 0.85rem;
    padding-top: 1.5rem;
  }
  #title h2 {
    font-size: 1.5rem;
  }
  #subTitle p {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    height: 65svh;
    padding: 0;
    gap: 1.5rem;
  }
  .breakPoint {
    display: none;
  }
  #textContainer {
    padding: 0 7% 0.5rem 7%;
    height: auto;
  }
  #imgContainer {
    height: auto;
    padding: 0 0 0 7%;
    align-items: flex-start;
  }
  #imgWrapper {
    width: 100%;
    height: auto;
  }
  #imgWrapper picture {
    width: 100%;
    height: 100%;
  }
  #imgWrapper picture img {
    height: 100%;
    width: 100% !important;
    object-fit: cover;
    object-position: 0% 0%;
  }
  #title {
    margin: 0.85rem 0;
  }
  #header p {
    font-size: 0.8rem;
  }
  #title h2 {
    font-size: 1.6rem;
  }
  #subTitle {
    width: 80%;
  }
  #subTitle p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  #title h2 {
    font-size: 1.4rem;
  }
  #subTitle p {
    padding-top: 0;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    height: 70vh;
  }
}
