.sectionWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

.container {
    height: 65svh;
    width: 100%;
    padding: 0 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 4rem;
}

.textContainer {
    margin: 0 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainTitle {
    margin: 0;
    font-family: var(--font-regular);
    font-weight: 600;
    color: var(--money-green);
    font-size: 2.6rem;
    text-align: center;
}

.toolsContainer {
    padding: 0 1%;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4rem;
    overflow: hidden;
}

.card {
    flex: 1 1 0px;
    width: 0;
    border: solid 1px var(--khaki-light);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: .5em; 
}

.icon {
    height: 35px;
    width: 35px;
}

.company {
    margin: 0;
    font-family: var(--font-regular);
    font-weight: 600;
    font-size: 1.8rem;
}

.quoteBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

.quote {
    margin: 0;
    text-align: center;
    font-family: var(--font-light);
    font-weight: 600;
    font-size: 1rem;
    color: var(--money-green);
}

.nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.author {
    margin: 0;
    font-family: var(--font-light);
    font-weight: 600;
    font-size: 1.2rem;
}

.position {
    margin: 0;
    font-family: var(--font-regular);
    font-weight: 600;
}

.card:hover, .card:hover h4 {
    transition: 250ms;
    filter: brightness(90%);
}

@media only screen and (min-width: 2561px)  {
    .container {
        max-width: 2560px;
    }
}

@media only screen and (max-width: 1500px)  {
    .container {
        height: 60svh;
        padding-top: 1%;
        justify-content: flex-start;   
    }
    .toolsContainer {
        gap: 2rem;
    }   
    .icon {
        height: 30px;
        width: 30px;
    }
    .company {
        font-size: 1.2rem;
    }
    .quote {
        font-size: .8rem;
    }
    .author {
        font-size: 1rem;
    }
    .position {
        font-size: .85rem;
    }
    .card {
        flex: 1 1 0px;
        width: 0;
        border: solid 1px var(--khaki-light);
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: .5em; 
    }
}

@media only screen and (max-width: 1080px) {
    .container {
        height: 72dvh;
        gap: 2.5rem;
    }
    .mainTitle {
        font-size: 1.6rem;
    }
    .toolsContainer {
        gap: 1rem;
    }
    .card {
        padding: 1em;
        gap: 1em;
    }
    .icon {
        height: 20px;
        width: 20px;
    }
    .company {
        font-size: 1rem;
    }
    .quoteBox {
        height: 120px;
    }
    .quote {
        font-size: .8rem;
    }
    .author {
        font-size: 1rem;
    }
    .position {
        font-size: .85rem;
    }
}

@media only screen and (max-width: 991px)  {
    .container {
        height: 110dvh;
        justify-content: flex-start;
        padding-top: 10%;
    }
    .toolsContainer {
        flex-direction: column;
        padding: 2%;
    }
    .card {
        display: flex;
        height: auto;
        width: 325px;
    }
    .quoteBox {
        height: 95px;
    }
}

@media only screen and (max-width: 600px)  {
    .container {
        height: 135dvh;
        gap: 1.5rem;
    }
    .mainTitle {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        height: 135vh;
    }
    .quoteBox {
        height: 110px;
    }
    .card {
        padding: 1em;
        gap: .5em;
    }
}
