.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title {
    text-align: center;
    font-size: 45px;  
}

.title span {
    color: var(--primary)
}

.subTitle {
    text-align: center;
    font-size: 15px;
    max-width: 680px;
}

@media screen and (max-width: 575px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }
}