.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title {
    text-align: center;
    font-size: 45px;
    
    
}

.subTitle {
    text-align: center;
    font-size: 15px;
    max-width: 680px;
}