.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  height: 110svh;
  width: 100%;
  padding: 0% 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding-top: 5%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1.2rem;
}

.title {
  text-align: center;
  margin: 0;
  font-family: var(--font-regular);
  font-size: 3.4rem;
  font-weight: 600;
  color: var(--money-green);
  margin-bottom: 0.5rem;
}

.subTitle {
  text-align: center;
  width: 60%;
  margin: 0;
  font-family: var(--font-regular);
  font-size: 1.2rem;
}

.numberContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-bottom: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count {
  font-family: var(--font-regular);
  font-size: 3.8rem;
  font-weight: 600;
  color: green;
  margin: 0;
}

.text {
  font-family: var(--font-regular);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.imgContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 1.2rem;
  align-items: stretch;
  margin-bottom: 1rem;
}

.imgWrapperOne,
.imgWrapperTwo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgWrapperOne .imgLeft {
  margin: 0.6rem;
  object-fit: cover;
  width: 100%;
  height: calc(100% - 10px);
  border-radius: 18px;
}

.imgWrapperTwo .imgRight {
  margin: 0.6rem;
  object-fit: cover;
  width: 100%;
  height: calc((100% - 20px) / 2);
  border-radius: 18px;
}

@media only screen and (min-width: 2561px) {
  .container {
    max-width: 2560px;
    padding: 26px 180px;
    padding-top: 5%;
  }
}

@media only screen and (max-width: 1600px) {
  .container {
    height: 140svh;
  }
  .title {
    font-size: 2.8rem;
  }
  .subTitle {
    font-size: 1.1rem;
  }
  .count {
    font-size: 3rem;
  }
  .text {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    height: 75svh;
  }
  .title {
    font-size: 2.2rem;
  }
  .subTitle {
    font-size: 0.85rem;
    width: 100%;
  }
  .numberContainer {
    width: 100%;
    font-size: 0.85rem;
  }
  .item {
    width: 150px;
  }
  .count {
    font-size: 2rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .imgContainer {
    grid-template-columns: 65% 35%;
    grid-gap: 0rem;
  }
  .imgWrapperOne,
  .imgWrapperTwo {
    justify-content: space-around;
  }
  .imgWrapperOne .imgLeft {
    margin: 0rem;
    width: 95%;
  }

  .imgWrapperTwo .imgRight {
    margin: 0rem;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }
  .subTitle {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    height: 75vh;
  }
  .title {
    font-size: 1.3rem;
  }
}
