#container {
    background-color: var(--money-green);
    color: var(--secondary-font-color);
    padding: 1% 5% 1% 5%; 
    width: 100%;
}

#subContainerOne {
    display: flex;
}

#imgContainer {
    width: 50%;
}

#linkContainer {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;  
}

#subContainerTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottomColumnOne {
    display: flex;
    gap: 20px;
}

#bottomColumnThree {
    display: flex;
    gap: 20px;
}

.linkColumns ul {
    text-decoration: none;
}

.list {
    list-style-type: none;
    padding: 0;
}

.link {
    text-decoration: none;
    color: var(--secondary-font-color);
}

.link:hover {
    color: var(--cobalt-blue);
}