#container {
    background-color: var(--money-green);
    color: var(--secondary-font-color);
    padding: 3% 5% 2% 5%; 
    width: 100%;
}

#subContainerOne {
    display: flex;
    width: 100%;
}

#imgContainer {
    width: 50%;
}

#imgWrapper {
    width: 220px;
    height: auto;
  }
  
#image {
    width: 100%;
    height: auto;
  }

#linkContainer {
    width: 50%;
    display: flex;
    justify-content: space-evenly; 
}

#subContainerTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px grey;
    margin-top: 1.5%;
    padding-top: 1%;
}

#bottomColumnOne {
    display: flex;
    align-items: center;
    
}

#bottomColumnThree {
    display: flex;
    align-items: center;
    gap: 20px;
}

.linkColumns {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.linkColumns h5 {
    font-family: var(--font-regular);
    font-size: 1.1rem;
}

.linkColumns ul {
    text-decoration: none;
}

.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: .8rem;
}

.link {
    text-decoration: none;
    color: var(--khaki-light);
}

.link:hover {
    color: var(--cobalt-blue);
}

#rights {
    color: var(--khaki-light);
    font-size: 12px;
    opacity: .8;
    margin-bottom: 0;
    padding-right: 8px;
}

#privacy {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    font-size: 12px;
    opacity: .8;
    padding-right: 8px;
    padding-left: 8px;
}

#term {
    font-size: 12px;
    opacity: .8;
    padding-left: 8px;
}

.icons {
    width: 100%;
    height: auto;
    filter: invert(100%) sepia(71%) saturate(0%) hue-rotate(12deg) brightness(115%) contrast(101%);
}

.iconLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: auto;
}

.iconLink:hover {
    filter: invert(25%) sepia(84%) saturate(6632%) hue-rotate(208deg) brightness(86%) contrast(87%);
}

#linkedin {
    
}

#facebook {
    
}

#youtube {
    
}

