.sectionWrapper {
  width: 100svw;
  background: var(--khaki-light);
  display: flex;
  justify-content: center;
  z-index: 1;
  position: fixed;
  top: 0;
}

#navBar {
    width: 100%;
    padding: 1% 7% 1% 7%;
  }
  
#logoWrapper {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#linkImgContainer {
    width: 100%;
    height: auto;
  }

#imgContainer {
    width: 150px;
    height: auto;
  }
  
#image {
    width: 100%;
    height: auto;
  }
  
#linkWrapper {
    width: 66.66%;
  }
  
#offCanvasBody {
    width: 100%;
  }
  
#linkContainerOne {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
#linkContainerTwo {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
  }
  
#contactSales {
    border-right: 1px solid grey;
    padding-right: 1.5rem;
  }
  
#linkContainerOne a, #linkContainerTwo a {
    color: var(--primary-font-color);
    text-decoration: none;
  }
  
#linkContainerOne a:hover, #linkContainerTwo a:hover {
    color: var(--cobalt-blue);
    transition: 250ms;
  }
  
#linkContainerOne a:active, #linkContainerTwo a:active {
    color: var(--cobalt-blue);
  }
  
  #hamburger {
      border: none;
      padding: 4px 0px;
  }
  
  #hamburger.active.focus, #hamburger.active:focus,
  #hamburger.focus, #hamburger:active.focus, 
  #hamburger:active:focus, #hamburger:focus {
    box-shadow: none;
  }
  
  #icon {
      height: 30px;
      width: 30px;
  }
  
  .close {  
      position: absolute;
      top: 42px;
      right: 1.5rem;
  }
  
  .offCanvasBody {
      font-family: var(--font-light);
      color: var(--primary-font-color);
      background-color: var(--titanium-grey);
  }
  
  .offCanvasBody a {
      text-decoration: none;
      color: var(--primary-font-color)
  }
  
  @media only screen and (min-width: 2560px)  {
    #navBar {
        max-width: 2560px;
        padding: 26px 180px;
    }
    
}