.sectionWrapper {
  width: 100%;
  background: #ffff;
  display: flex;
  justify-content: center;
  z-index: 11;
  position: fixed;
  top: 0;
}

.navBar {
  width: 100%;
  padding: 1% 7% 1% 7%;
}

#logoWrapper {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#linkImgContainer {
  width: 100%;
  height: auto;
}

#imgContainer {
  width: 150px;
  height: auto;
}

#image {
  width: 100%;
  height: auto;
}

#linkWrapper {
  width: 66.66%;
}

#offCanvasBody {
  width: 100%;
}

#linkContainerOne {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#linkContainerTwo {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

#contactSales {
  border-right: 1px solid grey;
  padding-right: 1.5rem;
}

#linkContainerOne a,
#linkContainerTwo a {
  color: var(--primary-font-color);
  text-decoration: none;
}

#linkContainerOne a:hover,
#linkContainerTwo a:hover {
  color: var(--cobalt-blue);
  transition: 250ms;
}

#linkContainerOne a:active,
#linkContainerTwo a:active {
  color: var(--cobalt-blue);
}

#hamburger {
  border: none;
  padding: 4px 0px;
}

#hamburger.active.focus,
#hamburger.active:focus,
#hamburger.focus,
#hamburger:active.focus,
#hamburger:active:focus,
#hamburger:focus {
  box-shadow: none;
}

#icon {
  height: 30px;
  width: 30px;
}

.close {
  position: absolute;
  top: 42px;
  right: 1.5rem;
}

/* dropdown menu */
.dropdownMenu > div {
  background-color: var(--khaki-light);
  border: solid 1px var(--money-green);
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

.dropDownProductContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 1.5rem;
  gap: 1.5rem;
  width: 100%;
}

.dropDownProductContainer > a > p:hover {
  color: var(--cobalt-blue);
}

.dropDownProductContainer > a > p {
  margin: 0;
  white-space: nowrap;
  color: var(--money-green);
  font-family: var(--font-regular);
}

.offCanvasBody {
  font-family: var(--font-light);
  color: var(--primary-font-color);
  background-color: var(--titanium-grey);
}

.offCanvasBody a {
  text-decoration: none;
  color: var(--primary-font-color);
}

.offHeader {
  width: 50%;
  height: auto;
  padding-top: 9%;
}

@media only screen and (min-width: 2560px) {
  #navBar {
    max-width: 2560px;
    padding: 26px 180px;
  }
}

@media only screen and (max-width: 1614px) {
  #logoWrapper {
    width: 20%;
  }
  #linkWrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 1345px) {
  #linkContainerOne {
    width: 70%;
  }
  #linkContainerTwo {
    width: 30%;
  }
}

@media only screen and (max-width: 1120px) {
  #linkContainerOne {
    gap: 1.5em;
  }
  #linkContainerTwo {
    gap: 1.5em;
  }
}

@media only screen and (max-width: 991px) {
  #linkWrapper {
    display: flex;
    justify-content: flex-end;
  }
  .offCanvasBody {
    display: flex;
    flex-direction: column;
  }
  #linkContainerOne {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    padding-bottom: 3rem;
  }
  #linkContainerTwo {
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 3rem;
  }
  .dropdownMenu > div {
    background-color: var(--titanium-grey);
    border: none;
    border-top: solid 2px var(--money-green);
    border-bottom: solid 2px var(--money-green);
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  #contactSales {
    border-right: none;
    padding-right: 1.5rem;
    order: 1;
  }
  #demoButton {
    order: 3;
  }
  #login {
    order: 2;
  }
  #about {
    display: block;
  }
}

@media only screen and (max-width: 399px) {
  .offHeader {
    padding-top: 11%;
  }
}

@media only screen and (max-width: 222px) {
  #navBar {
    flex-direction: column;
    align-items: flex-start;
  }
  #linkWrapper {
    justify-content: flex-start;
  }
}
